@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-ctp-base to-ctp-crust pt-6 pb-10 text-ctp-text;
  scroll-behavior: smooth;
}

.group:hover .move-diagonally {
  transform: translate(20px, -20px);
  transition-delay: 0.2s;
}