@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-ctp-base to-ctp-crust pt-6 pb-10 text-ctp-text;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #313244;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a6e3a1;
  border-radius: 10px;
}

.group:hover .move-diagonally {
  transform: translate(20px, -20px);
  transition-delay: 0.2s;
}

::-moz-selection { /* Code for Firefox */
  @apply text-ctp-surface0 bg-ctp-green;
}

::selection {
  @apply text-ctp-surface0 bg-ctp-green;
}